<div class="row" style="text-align:center">
  <div><%= image_tag "welcome.jpg", alt:"Welcome to Nine Men's Morris", size:"600x170" %></div>
</div>
<br/><br/><br/><br/>

<div class="row" style="text-align:center">
  <div><%= image_tag "matchmaking.jpg", alt:"Welcome to Nine Men's Morris", size:"200x140" %></div>
</div>
